* {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  position: relative;
  background: #f0f1f6;
}
.nav-container {
  width: 100%;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.menu {
  width: 5%;
  display: flex;
  justify-content: start;
  font-size: xx-large;
}
.logo {
  width: 20%;
  display: none;
}
.search-input-container {
  width: 40%;
  display: none;
  border: 1px solid gray;
  padding: 3px;
  border-radius: 5px;
}
.search-icon {
  width: 30%;
}
.search {
  margin-left: -1rem;
  width: 70%;
  border: none;
  outline: none;
}
.inner-nav {
  width: 8rem;
  display: flex;
  gap: 1rem;
  justify-content: end;
  align-items: center;
}
.notification {
  width: 2rem;
  font-size: 1.2rem;
  position: relative;
}
.notice {
  position: absolute;
  top: 3px;
  right: 5px;
  background: red;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
}
.profile-nav {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.main {
  display: flex;
  margin-top: 1rem;
}
.sideBar {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #00000061;
  inset: 0;
  z-index: 10;
  transform: translateX(0%);
  transition: all 0.3s linear;
}
.sideBar-close {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #00000061;
  inset: 0;
  transform: translateX(-100%);
  transition: all 0.3s linear;
}
.inner-sideBar {
  width: 50%;
  background: #f0f1f6;
  height: 100%;
}

.sideBar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 0.5rem;
  border-bottom: 1px solid #9a9999;
}
.sidebar-links {
  display: flex;
  flex-direction: column;
}
.sidebar-links .link {
  text-decoration: none;
  padding: 1rem;
  border-radius: 5px;
  color: black;
  margin: 0 1px;
  font-size: larger;
  border-bottom: 1px solid #dcdbdb;
  transition: all 0.8s;
}
.sidebar-links .link:hover {
  background: skyblue;
  color: #ffffff;
}
.outlet {
  width: 100%;
  padding: 0.5rem 0;
}

/* Medium Screens Only */
@media (min-width: 601px) and (max-width: 1024px) {
  .menu {
    display: block;
  }
  .logo {
    display: none;
  }
  .inner-sideBar {
    width: 30%;
  }
  .search-input-container {
    display: flex;
  }
  .sideBar {
    display: block;
  }
  .outlet {
    padding: 0.5rem 1rem;
  }
}
/* Large Screens Only */
@media (min-width: 1025px) and (max-width: 1440px) {
  .logo {
    width: 15%;
  }
  .search-input-container {
    width: 25%;
    display: flex;
    border: 1px solid gray;
  }
  .menu {
    display: none;
  }
  .logo {
    display: block;
  }
  .search-input-container {
    display: flex;
  }
  .sideBar {
    display: none;
  }
  .outlet {
    padding: 0.5rem 1rem;
  }
}

/* Mega Screens Above */
@media (min-width: 1441px) {
  nav {
    padding: 0.5rem 3rem;
  }
  .menu {
    display: none;
  }
  .logo {
    width: 15%;
    display: block;
  }

  .search-input-container {
    width: 15rem;
    display: flex;
  }
  .sideBar {
    display: flex;
    position: absolute;
    width: 15%;
    height: 100vh;
    background: #00000061;
    z-index: 10;
    inset: 0;
    z-index: 10;
    transform: translateX(0%);
    transition: all 0.3s linear;
  }
  .inner-sideBar {
    width: 100%;
    background: #ffffff;
    height: 100%;
  }
  .sideBar-top {
    display: none;
  }
  .outlet {
    padding: 0.5rem 2rem;
  }
}
